<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>

header {
    font-family: Georgia;
    font-size: 100px;
    font-weight: bolder;
    color: rgb(5, 26, 90);
}
.body {
  background-color: lightsteelblue;
}
.nav {
    font-family: Georgia;
    font-weight: bolder;
    font-size: large;
    background-color: lightgrey;
}
.container {
  width: 400px;
  border: .5px solid lightgrey;
  padding: 25px;
  margin: 40px;
}
h1 {
  font-family: Georgia;
}
.img-thumbnail {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 200px;
}
.row-justify-content-center {
  border: dashed;
}
p {
  font-family: Georgia;
}
address {
  display: block;
  font-family: Georgia;
}














  }
  